:focus{
  outline:none;
}
p{
  padding-bottom:0rem;
}
.field{
  margin-top:8px;
  padding:11px 11px;
}
.form label span {
  text-transform:capitalize;
  font-weight:600;
  margin-right:20px;
}
.form label i {
  font-size:20px;
}
.file{
  background-color: rgb(209, 209, 209);
  padding:11px;
  cursor:pointer;
}
.todo{
  padding:14px;
  margin:14px 4px 4px 4px;
  box-shadow: 0px 0px 11px -7px #000;
  text-transform:capitalize;
}
.todo-body h4{
  margin-top:12px;
}
.todo-msg p{
  width:100%;
  display:block
}
.todo-footer i{
  color:rgb(0, 0, 0);
  font-size:20px;
  cursor:pointer;
}
.list .row 
{
  --bs-gutter-x: 0.5rem;
}
.fa-xmark{
  font-size:22px;
  border:1px solid #000;
  padding:4px 8px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.todo{
  border-radius:7px;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  -ms-border-radius:7px;
  -o-border-radius:7px;
}